header, .not-only, .about, .our-friends, .help, .in-addition, .footer__wrapper {
  margin: 0;
  padding: 0 40px; }

.not-only__text h2 {
  margin-top: 0;
  font-size: 44px;
  line-height: 130%;
  font-weight: normal;
  color: #FFFFFF; }
  @media (max-width: 767px) {
    .not-only__text h2 {
      font-size: 25px;
      letter-spacing: 0.06em;
      margin-bottom: 37px; } }

.about__text h3, .our-friends h3, .help h3, .in-addition .in-addition__text h3, .footer__contacts h3, .footer__address h3, .modal h3 {
  color: #545454;
  font-size: 35px;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.06em; }
  @media (max-width: 767px) {
    .about__text h3, .our-friends h3, .help h3, .in-addition .in-addition__text h3, .footer__contacts h3, .footer__address h3, .modal h3 {
      font-size: 25px;
      text-align: center; } }

.not-only__text .btn_dark, .our-friends .btn_dark, .card {
  display: block;
  width: 177px;
  height: 22px;
  padding: 15px;
  background-color: #F1CDB3;
  border-radius: 26px;
  color: #292929;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: 0.2s ease-out; }
  .not-only__text .btn_dark:hover, .our-friends .btn_dark:hover, .card:hover {
    background-color: #FDDCC4; }

.item .pet-card .btn_light {
  display: block;
  width: 153px;
  height: 20px;
  padding: 15px;
  padding-top: 13px;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  color: #292929;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: 0.2s ease-out; }
  .item .pet-card .btn_light:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4; }

.our-friends .slider .arrow, .modal .close-modal {
  display: block;
  width: 48px;
  height: 34px;
  padding-top: 14px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  color: #292929;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: 0.2s ease-out; }
  .our-friends .slider .arrow:hover, .modal .close-modal:hover {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4; }

body {
  margin: 0;
  font-family: "Georgia", serif;
  display: flex;
  flex-direction: column; }

.start-screen {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1280px) 1fr;
  margin: 0;
  background: url(../assets/images/noise_transparent.png), linear-gradient(135deg, #5b483a, #262425); }

header {
  grid-column: 2 / 3;
  height: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1279px) {
    header {
      margin-top: 30px;
      padding: 0 30px; } }
  @media (max-width: 767px) {
    header {
      padding: 0 53px 0 10px; } }

h1 {
  margin: 0;
  font-weight: normal; }

.logo-title,
.logo-subtitle {
  display: block;
  text-decoration: none; }

.logo-title {
  color: #F1CDB3;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-bottom: 10px; }

.logo-subtitle {
  color: #FFFFFF;
  font-size: 13px;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.1em;
  padding-left: 4px; }

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0; }
  @media (max-width: 767px) {
    nav ul {
      display: none; } }
nav li:not(:last-of-type) {
  padding-right: 35px; }
nav a {
  display: block;
  text-decoration: none;
  color: #CDCDCD;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%; }
  nav a:hover {
    color: #FAFAFA; }
nav .active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3; }

.burger-menu {
  display: none;
  width: 30px;
  height: 22px;
  margin: 19px 0;
  background-image: url(../assets/icons/burger.svg); }
  @media (max-width: 767px) {
    .burger-menu {
      display: block; } }

.not-only {
  grid-column: 2 / 3;
  min-height: 728px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1279px) {
    .not-only {
      flex-direction: column;
      align-items: center;
      padding: 0 30px; } }
  @media (max-width: 767px) {
    .not-only {
      padding: 0 10px;
      min-height: 0; } }
  .not-only img {
    display: block;
    align-self: flex-end; }
    @media (max-width: 1279px) {
      .not-only img {
        width: 569px; } }
    @media (max-width: 767px) {
      .not-only img {
        width: 260px; } }

.not-only__text {
  margin-top: 163px;
  margin-bottom: 243px;
  max-width: 460px; }
  @media (max-width: 1279px) {
    .not-only__text {
      margin-top: 0;
      margin-bottom: 100px; } }
  @media (max-width: 767px) {
    .not-only__text {
      text-align: center;
      margin-bottom: 105px; } }
  .not-only__text p {
    padding-top: 3px;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 42px; }
  @media (max-width: 1279px) {
    .not-only__text .btn_dark {
      margin: 0 auto; } }

.about {
  min-height: 408px;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #FFFFFF; }
  @media (max-width: 1279px) {
    .about {
      flex-direction: column-reverse;
      align-items: center; } }
  @media (max-width: 767px) {
    .about {
      padding: 43px 25px 42px;
      min-height: 320px; } }
  .about img {
    display: block;
    margin-right: 120px;
    align-self: center; }
    @media (max-width: 1279px) {
      .about img {
        margin: 65px auto 0; } }
    @media (max-width: 767px) {
      .about img {
        margin: 27px auto 0;
        width: 260px; } }

.about__text {
  max-width: 430px; }
  .about__text h3 {
    margin-top: 14px;
    margin-bottom: 25px; }
    @media (max-width: 1279px) {
      .about__text h3 {
        margin-top: 0; } }
  .about__text p {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-top: 25px; }
    @media (max-width: 767px) {
      .about__text p {
        text-align: justify;
        margin-top: 22px; } }

.our-friends {
  min-height: 697px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #F6F6F6; }
  @media (max-width: 767px) {
    .our-friends {
      padding: 42px 10px; } }
  .our-friends h3 {
    margin: 0;
    text-align: center;
    display: block;
    max-width: 400px; }
  .our-friends .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px; }
    @media (max-width: 767px) {
      .our-friends .slider {
        margin-top: 42px;
        margin-bottom: 42px;
        gap: 20px 56px;
        flex-wrap: wrap; } }
    @media (max-width: 767px) {
      .our-friends .slider .arrow__wrapper {
        width: 40%;
        order: 1;
        display: flex;
        flex-direction: column; } }
    .our-friends .slider .arrow.prev {
      margin-right: 53px; }
      @media (max-width: 1279px) {
        .our-friends .slider .arrow.prev {
          margin-right: 12px; } }
      @media (max-width: 767px) {
        .our-friends .slider .arrow.prev {
          align-self: flex-end; } }
    .our-friends .slider .arrow.next {
      margin-left: 53px; }
      @media (max-width: 1279px) {
        .our-friends .slider .arrow.next {
          margin-left: 12px; } }
  .our-friends .btn_dark {
    width: 231px; }

.item {
  display: flex;
  gap: 90px;
  align-items: space-between; }
  @media (max-width: 1279px) {
    .item {
      gap: 40px; } }
  @media (max-width: 767px) {
    .item {
      gap: 0; } }

.carousel {
  display: flex;
  position: relative;
  left: -990px; }
  @media (max-width: 1279px) {
    .carousel {
      left: -580px; } }
  @media (max-width: 767px) {
    .carousel {
      left: -270px; } }

.carousel-wrapper {
  width: 990px;
  overflow: hidden; }
  @media (max-width: 1279px) {
    .carousel-wrapper {
      width: 580px; } }
  @media (max-width: 767px) {
    .carousel-wrapper {
      width: 270px; } }

.item .pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 10px;
  transition: 0.2s ease-out; }
  .item .pet-card:nth-child(3) {
    margin-right: 0; }
    @media (max-width: 1279px) {
      .item .pet-card:nth-child(3) {
        display: none; } }
  @media (max-width: 1279px) {
    .item .pet-card:nth-child(2) {
      margin-right: 0px; } }
  @media (max-width: 767px) {
    .item .pet-card:nth-child(2) {
      display: none; } }
  .item .pet-card .pet-card__name {
    font-size: 20px;
    color: #545454;
    letter-spacing: 0.06em;
    margin-top: 28px;
    margin-bottom: 30px; }
  .item .pet-card .btn_light {
    margin-bottom: 30px; }
  .item .pet-card:hover {
    background-color: #FFFFFF;
    cursor: pointer; }
    .item .pet-card:hover .btn_light {
      background-color: #FDDCC4;
      border: 2px solid #FDDCC4; }

@keyframes move-right {
  from {
    left: -990px; }
  to {
    left: -1980px; } }
@keyframes move-right-768 {
  from {
    left: -580px; }
  to {
    left: -1160px; } }
@keyframes move-right-320 {
  from {
    left: -270px; }
  to {
    left: -540px; } }
.transition-right {
  animation-name: move-right;
  animation-duration: 0.7s; }
  @media (max-width: 1279px) {
    .transition-right {
      animation-name: move-right-768; } }
  @media (max-width: 767px) {
    .transition-right {
      animation-name: move-right-320; } }

@keyframes move-left {
  from {
    left: -990px; }
  to {
    left: 0px; } }
@keyframes move-left-768 {
  from {
    left: -580px; }
  to {
    left: 0px; } }
@keyframes move-left-320 {
  from {
    left: -270px; }
  to {
    left: 0px; } }
.transition-left {
  animation-name: move-left;
  animation-duration: 0.7s; }
  @media (max-width: 1279px) {
    .transition-left {
      animation-name: move-left-768; } }
  @media (max-width: 767px) {
    .transition-left {
      animation-name: move-left-320; } }

.help {
  min-height: 320px;
  padding-top: 80px;
  padding-bottom: 42px;
  background-color: #FFFFFF; }
  @media (max-width: 767px) {
    .help {
      padding: 42px 15px 12px; } }
  .help h3 {
    margin: 0 auto;
    text-align: center;
    display: block; }

.help__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 60px auto 0; }
  @media (max-width: 1279px) {
    .help__container {
      gap: 0 60px; } }
  @media (max-width: 767px) {
    .help__container {
      gap: 0 30px;
      margin-top: 42px;
      justify-content: space-between; } }

.help__element {
  padding-left: 60px;
  padding-right: 60px;
  height: 113px;
  margin-bottom: 55px; }
  @media (max-width: 1279px) {
    .help__element {
      padding: 0;
      width: 25%; } }
  @media (max-width: 767px) {
    .help__element {
      width: 44.5%;
      margin-bottom: 30px;
      height: 87px; } }
  .help__element img {
    display: block;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .help__element img {
        width: 50px; } }
  .help__element h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    font-weight: normal; }
    @media (max-width: 767px) {
      .help__element h4 {
        font-size: 15px;
        line-height: 110%; } }

.in-addition {
  min-height: 282px;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center; }
  @media (max-width: 1279px) {
    .in-addition {
      flex-direction: column-reverse;
      align-items: center;
      gap: 60px; } }
  @media (max-width: 767px) {
    .in-addition {
      padding: 42px 20px;
      gap: 42px; } }
  .in-addition img {
    display: block;
    margin-right: 30px;
    align-self: center; }
    @media (max-width: 1279px) {
      .in-addition img {
        margin-right: 0; } }
    @media (max-width: 767px) {
      .in-addition img {
        width: 260px; } }
  .in-addition .in-addition__text {
    max-width: 380px; }
    .in-addition .in-addition__text h3 {
      margin-top: 0;
      margin-bottom: 20px; }
    .in-addition .in-addition__text h5 {
      color: #545454;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
      font-weight: normal;
      margin-top: 20px;
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        .in-addition .in-addition__text h5 {
          text-align: center;
          letter-spacing: 0;
          margin-bottom: 25px; } }
    .in-addition .in-addition__text p {
      font-family: "Arial", sans-serif;
      font-style: italic;
      font-size: 12px;
      line-height: 18px;
      color: #B2B2B2;
      margin-top: 20px;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .in-addition .in-addition__text p {
          text-align: justify; } }

.card {
  width: 320px;
  color: #545454;
  border-radius: 10px;
  padding: 10px 15px;
  height: 23px;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.06em; }
  @media (max-width: 767px) {
    .card {
      width: 251px;
      margin: 0 auto;
      font-size: 15px;
      padding: 12px 15px;
      height: 19px; } }
  .card .card__icon {
    display: inline-block;
    float: left;
    width: 30px;
    height: 23px;
    background-image: url(../assets/icons/credit-card.svg);
    margin-right: 15px; }
    @media (max-width: 767px) {
      .card .card__icon {
        margin-right: 12px;
        margin-top: -3px; } }

footer {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1280px) 1fr;
  margin: 0;
  background: url(../assets/images/noise_transparent.png), linear-gradient(90deg, #513d2f, #1a1a1c);
  min-height: 310px;
  padding-top: 40px; }
  @media (max-width: 1279px) {
    footer {
      padding-top: 30px; } }

.footer__wrapper {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1279px) {
    .footer__wrapper {
      flex-wrap: wrap;
      padding: 0 64px; } }
  @media (max-width: 767px) {
    .footer__wrapper {
      padding: 0 10px; } }

.footer__contacts, .footer__address {
  display: flex;
  flex-direction: column;
  width: 33%; }
  @media (max-width: 1279px) {
    .footer__contacts, .footer__address {
      width: 47.5%; } }
  @media (max-width: 767px) {
    .footer__contacts, .footer__address {
      width: 100%; } }
  .footer__contacts h3, .footer__address h3 {
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 40px; }
    @media (max-width: 1279px) {
      .footer__contacts h3, .footer__address h3 {
        margin-top: 0; } }
    @media (max-width: 767px) {
      .footer__contacts h3, .footer__address h3 {
        margin-bottom: 45px; } }
  .footer__contacts .footer-title_adaptive-320, .footer__address .footer-title_adaptive-320 {
    display: none; }
    @media (max-width: 767px) {
      .footer__contacts .footer-title_adaptive-320, .footer__address .footer-title_adaptive-320 {
        display: inline; } }
  @media (max-width: 767px) {
    .footer__contacts .footer-title, .footer__address .footer-title {
      display: none; } }
  @media (max-width: 1279px) {
    .footer__contacts .link__wrapper, .footer__address .link__wrapper {
      margin-bottom: 8px; } }
  @media (max-width: 767px) {
    .footer__contacts .link__wrapper, .footer__address .link__wrapper {
      width: 294px;
      margin: 0 auto 7px; } }
  .footer__contacts .link, .footer__address .link {
    display: block;
    text-decoration: none;
    color: #F1CDB3;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 115%;
    margin-bottom: 47px; }
    @media (max-width: 1279px) {
      .footer__contacts .link, .footer__address .link {
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .footer__contacts .link, .footer__address .link {
        margin-bottom: 42px; } }

.icon {
  display: inline-block;
  float: left;
  width: 40px;
  height: 32px;
  margin-right: 20px;
  margin-top: -3px; }
  @media (max-width: 767px) {
    .icon {
      margin-right: 19px; } }

.icon-email {
  background-image: url(../assets/icons/icon-email.svg); }

.icon-tel {
  background-image: url(../assets/icons/icon-phone.svg); }

.icon-location {
  width: 22px;
  background-image: url(../assets/icons/icon-marker.svg); }

.footer__address .link:first-of-type {
  margin-top: -7px;
  margin-bottom: 37px; }
  @media (min-width: 1280px) {
    .footer__address .link:first-of-type {
      margin-bottom: 42px; } }
  .footer__address .link:first-of-type .icon-location {
    margin-top: 4px; }
  .footer__address .link:first-of-type .icon-location:last-child {
    margin-top: -5px; }

.footer__address {
  margin-left: -15px; }
  @media (max-width: 767px) {
    .footer__address {
      margin-left: 0; } }

@media (max-width: 767px) {
  .footer__contacts {
    text-align: center; } }
@media (max-width: 767px) {
  .footer__contacts .icon {
    margin-left: 24px;
    margin-right: 0; } }

.footer__img {
  display: block;
  align-self: flex-end; }
  @media (max-width: 1279px) {
    .footer__img {
      margin: 23px auto 0; } }
  @media (max-width: 767px) {
    .footer__img {
      margin: 4px auto 0;
      width: 260px; } }

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #292929;
  opacity: 60%; }

.burger-menu__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  z-index: 11;
  background-color: #292929;
  animation: openBurgerMenu 0.7s ease-in-out; }
@keyframes openBurgerMenu {
  from {
    right: -50%;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
  .burger-menu__nav .logo {
    margin-top: 30px;
    margin-left: 10px;
    width: 200px; }
  .burger-menu__nav .burger-menu {
    transform: rotate(90deg);
    position: absolute;
    top: 29px;
    right: 53px; }
  .burger-menu__nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    align-items: center;
    gap: 40px;
    margin-top: 158px; }
    .burger-menu__nav ul a {
      display: block;
      height: 51px;
      text-decoration: none;
      color: #CDCDCD;
      font-family: "Arial", sans-serif;
      font-size: 32px;
      line-height: 160%; }
      .burger-menu__nav ul a:hover {
        color: #FAFAFA; }
    .burger-menu__nav ul .active {
      color: #FAFAFA;
      border-bottom: 3px solid #F1CDB3; }

@keyframes closeBurgerMenu {
  from {
    right: 0;
    opacity: 1; }
  to {
    right: -50%;
    opacity: 0; } }
@keyframes rotateVertical {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(90deg); } }
@keyframes rotateHorizontal {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }
.closed {
  animation: closeBurgerMenu 0.7s ease-in-out; }

.modal {
  width: 900px;
  min-height: 500px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  gap: 30px;
  animation: animateModal 0.5s ease-in-out; }
@keyframes animateModal {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  @media (max-width: 1279px) {
    .modal {
      width: 630px;
      min-height: 350px;
      gap: 11px; } }
  @media (max-width: 767px) {
    .modal {
      width: 240px; } }
  .modal .modal__photo {
    display: block;
    border-radius: 10px;
    width: 500px;
    min-height: 500px; }
    @media (max-width: 1279px) {
      .modal .modal__photo {
        width: 350px;
        min-height: 350px; } }
    @media (max-width: 767px) {
      .modal .modal__photo {
        display: none; } }
  .modal .modal__text {
    margin: 50px 20px 0 0; }
    @media (max-width: 1279px) {
      .modal .modal__text {
        margin: 10px 9px 0 0; } }
    @media (max-width: 767px) {
      .modal .modal__text {
        margin: 10px 9px 0 9px; } }
  .modal h3 {
    color: black;
    margin-top: 0;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .modal h3 {
        font-size: 35px; } }
  .modal .subtitle {
    margin-top: 10px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 40px; }
    @media (max-width: 1279px) {
      .modal .subtitle {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .modal .subtitle {
        text-align: center; } }
  .modal .descr {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 40px; }
    @media (max-width: 1279px) {
      .modal .descr {
        font-size: 13px;
        margin-bottom: 20px; } }
  .modal ul {
    padding-left: 0;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    list-style-type: none; }
    .modal ul li {
      padding-bottom: 11px; }
      @media (max-width: 1279px) {
        .modal ul li {
          padding-bottom: 5px; } }
    .modal ul li::before {
      content: "\2022";
      color: #F1CDB3;
      font-weight: bold;
      display: inline-block;
      width: 1em; }
  .modal .close-modal {
    position: fixed;
    right: -44px;
    top: -54px;
    font-size: 30px;
    letter-spacing: 0.06em;
    font-weight: normal;
    height: 43px;
    padding-top: 5px; }
    .modal .close-modal:hover {
      text-shadow: none;
      animation: closeModal 0.7s ease-in-out; }
@keyframes closeModal {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(180deg); } }
    @media (max-width: 767px) {
      .modal .close-modal {
        right: -30px;
        top: -51px; } }

.shadow:hover ~ div .close-modal {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  animation: closeModal 0.7s ease-in-out; }

.lock_scroll {
  overflow: hidden; }

.hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
