.header__wrapper, .main__wrapper, .footer__wrapper {
  margin: 0;
  padding: 0 40px; }

.main__wrapper h3, .footer__contacts h3, .footer__address h3, .modal h3 {
  color: #545454;
  font-size: 35px;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.06em; }
  @media (max-width: 767px) {
    .main__wrapper h3, .footer__contacts h3, .footer__address h3, .modal h3 {
      font-size: 25px;
      text-align: center; } }

.pet-card .btn_light {
  display: block;
  width: 153px;
  height: 20px;
  padding: 15px;
  padding-top: 13px;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  color: #292929;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: 0.2s ease-out; }
  .pet-card .btn_light:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4; }

.pagination .arrow, .modal .close-modal {
  display: block;
  width: 48px;
  height: 34px;
  padding-top: 14px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  color: #292929;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: 0.2s ease-out; }
  .pagination .arrow:hover, .modal .close-modal:hover {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4; }

body {
  margin: 0;
  font-family: "Georgia", serif;
  display: flex;
  flex-direction: column; }

header {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1280px) 1fr;
  margin: 0;
  background-color: #FFFFFF;
  min-height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;
  top: 0; }

.header__wrapper {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1279px) {
    .header__wrapper {
      padding: 0 30px; } }
  @media (max-width: 767px) {
    .header__wrapper {
      padding: 0 53px 0 10px; } }

h1 {
  margin: 0;
  font-weight: normal; }

.logo-title,
.logo-subtitle {
  display: block;
  text-decoration: none; }

.logo-title {
  color: #545454;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-bottom: 10px; }

.logo-subtitle {
  color: #292929;
  font-size: 13px;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.1em;
  padding-left: 4px; }

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0; }
  @media (max-width: 767px) {
    nav ul {
      display: none; } }
nav li:not(:last-of-type) {
  padding-right: 35px; }
nav a {
  display: block;
  text-decoration: none;
  color: #545454;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%; }
  nav a:hover {
    color: #292929; }
nav .active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3; }

.burger-menu {
  display: none;
  width: 30px;
  height: 22px;
  margin: 19px 0;
  background-image: url(../assets/icons/burger1.svg); }
  @media (max-width: 767px) {
    .burger-menu {
      display: block; } }

main {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1280px) 1fr;
  margin: 0;
  background-color: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px; }
  @media (max-width: 1279px) {
    main {
      padding-bottom: 76px; } }
  @media (max-width: 767px) {
    main {
      padding: 42px 0; } }

.main__wrapper {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 767px) {
    .main__wrapper {
      padding: 0 10px; } }
  .main__wrapper h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 45px; }
    @media (max-width: 1279px) {
      .main__wrapper h3 {
        margin-bottom: 30px; } }
    @media (max-width: 767px) {
      .main__wrapper h3 {
        margin-bottom: 42px; } }

.pets {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-auto-rows: 435px;
  gap: 30px 40px;
  padding: 15px 0; }
  @media (max-width: 1279px) {
    .pets {
      padding: 0 0;
      grid-template-columns: repeat(2, 270px); } }
  @media (max-width: 767px) {
    .pets {
      display: flex;
      flex-direction: column;
      gap: 32px; } }

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 10px;
  transition: 0.2s ease-out; }
  .pet-card .pet-card__name {
    font-size: 20px;
    color: #545454;
    letter-spacing: 0.06em;
    margin-top: 28px;
    margin-bottom: 30px; }
  .pet-card .btn_light {
    margin-bottom: 30px; }
  .pet-card:hover {
    background-color: #FFFFFF;
    cursor: pointer; }
    .pet-card:hover .btn_light {
      background-color: #FDDCC4;
      border: 2px solid #FDDCC4; }
  @media (max-width: 1279px) {
    .pet-card:nth-child(7), .pet-card:nth-child(8) {
      display: none; } }
  @media (max-width: 767px) {
    .pet-card:nth-child(4), .pet-card:nth-child(5), .pet-card:nth-child(6) {
      display: none; } }

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  gap: 20px; }
  @media (max-width: 1279px) {
    .pagination {
      margin-top: 40px; } }
  @media (max-width: 767px) {
    .pagination {
      gap: 10px;
      margin-top: 42px; } }
  .pagination .arrow {
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 115%;
    font-weight: normal;
    height: 37px;
    padding-top: 11px; }
    .pagination .arrow:hover {
      text-shadow: none; }
    .pagination .arrow.disabled {
      pointer-events: none;
      cursor: default;
      color: #CDCDCD;
      border: 2px solid #CDCDCD; }
    .pagination .arrow.current {
      background-color: #F1CDB3;
      cursor: default;
      pointer-events: none; }

footer {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1280px) 1fr;
  margin: 0;
  background: url(../assets/images/noise_transparent.png), linear-gradient(90deg, #513d2f, #1a1a1c);
  min-height: 310px;
  padding-top: 40px; }
  @media (max-width: 1279px) {
    footer {
      padding-top: 30px; } }

.footer__wrapper {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1279px) {
    .footer__wrapper {
      flex-wrap: wrap;
      padding: 0 64px; } }
  @media (max-width: 767px) {
    .footer__wrapper {
      padding: 0 10px; } }

.footer__contacts, .footer__address {
  display: flex;
  flex-direction: column;
  width: 33%; }
  @media (max-width: 1279px) {
    .footer__contacts, .footer__address {
      width: 47.5%; } }
  @media (max-width: 767px) {
    .footer__contacts, .footer__address {
      width: 100%; } }
  .footer__contacts h3, .footer__address h3 {
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 40px; }
    @media (max-width: 1279px) {
      .footer__contacts h3, .footer__address h3 {
        margin-top: 0; } }
    @media (max-width: 767px) {
      .footer__contacts h3, .footer__address h3 {
        margin-bottom: 45px; } }
  .footer__contacts .footer-title_adaptive-320, .footer__address .footer-title_adaptive-320 {
    display: none; }
    @media (max-width: 767px) {
      .footer__contacts .footer-title_adaptive-320, .footer__address .footer-title_adaptive-320 {
        display: inline; } }
  @media (max-width: 767px) {
    .footer__contacts .footer-title, .footer__address .footer-title {
      display: none; } }
  @media (max-width: 1279px) {
    .footer__contacts .link__wrapper, .footer__address .link__wrapper {
      margin-bottom: 8px; } }
  @media (max-width: 767px) {
    .footer__contacts .link__wrapper, .footer__address .link__wrapper {
      width: 294px;
      margin: 0 auto 7px; } }
  .footer__contacts .link, .footer__address .link {
    display: block;
    text-decoration: none;
    color: #F1CDB3;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 115%;
    margin-bottom: 47px; }
    @media (max-width: 1279px) {
      .footer__contacts .link, .footer__address .link {
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .footer__contacts .link, .footer__address .link {
        margin-bottom: 42px; } }

.icon {
  display: inline-block;
  float: left;
  width: 40px;
  height: 32px;
  margin-right: 20px;
  margin-top: -3px; }
  @media (max-width: 767px) {
    .icon {
      margin-right: 19px; } }

.icon-email {
  background-image: url(../assets/icons/icon-email.svg); }

.icon-tel {
  background-image: url(../assets/icons/icon-phone.svg); }

.icon-location {
  width: 22px;
  background-image: url(../assets/icons/icon-marker.svg); }

.footer__address .link:first-of-type {
  margin-top: -7px;
  margin-bottom: 37px; }
  @media (min-width: 1280px) {
    .footer__address .link:first-of-type {
      margin-bottom: 42px; } }
  .footer__address .link:first-of-type .icon-location {
    margin-top: 4px; }
  .footer__address .link:first-of-type .icon-location:last-child {
    margin-top: -5px; }

.footer__address {
  margin-left: -15px; }
  @media (max-width: 767px) {
    .footer__address {
      margin-left: 0; } }

@media (max-width: 767px) {
  .footer__contacts {
    text-align: center; } }
@media (max-width: 767px) {
  .footer__contacts .icon {
    margin-left: 24px;
    margin-right: 0; } }

.footer__img {
  display: block;
  align-self: flex-end; }
  @media (max-width: 1279px) {
    .footer__img {
      margin: 23px auto 0; } }
  @media (max-width: 767px) {
    .footer__img {
      margin: 4px auto 0;
      width: 260px; } }

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #292929;
  opacity: 60%; }

.burger-menu__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  z-index: 11;
  background-color: #FFFFFF;
  animation: openBurgerMenu 0.7s ease-in-out; }
@keyframes openBurgerMenu {
  from {
    right: -50%;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
  .burger-menu__nav .logo {
    margin-top: 30px;
    margin-left: 10px;
    width: 200px; }
  .burger-menu__nav .burger-menu {
    transform: rotate(90deg);
    position: absolute;
    top: 29px;
    right: 53px; }
  .burger-menu__nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    align-items: center;
    gap: 40px;
    margin-top: 158px; }
    .burger-menu__nav ul a {
      display: block;
      height: 51px;
      text-decoration: none;
      color: #545454;
      font-family: "Arial", sans-serif;
      font-size: 32px;
      line-height: 160%; }
      .burger-menu__nav ul a:hover {
        color: #292929; }
    .burger-menu__nav ul .active {
      color: #292929;
      border-bottom: 3px solid #F1CDB3; }

@keyframes closeBurgerMenu {
  from {
    right: 0;
    opacity: 1; }
  to {
    right: -50%;
    opacity: 0; } }
@keyframes rotateVertical {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(90deg); } }
@keyframes rotateHorizontal {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }
.closed {
  animation: closeBurgerMenu 0.7s ease-in-out; }

.modal {
  width: 900px;
  min-height: 500px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  gap: 30px;
  animation: animateModal 0.5s ease-in-out; }
@keyframes animateModal {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  @media (max-width: 1279px) {
    .modal {
      width: 630px;
      min-height: 350px;
      gap: 11px; } }
  @media (max-width: 767px) {
    .modal {
      width: 240px; } }
  .modal .modal__photo {
    display: block;
    border-radius: 10px;
    width: 500px;
    min-height: 500px; }
    @media (max-width: 1279px) {
      .modal .modal__photo {
        width: 350px;
        min-height: 350px; } }
    @media (max-width: 767px) {
      .modal .modal__photo {
        display: none; } }
  .modal .modal__text {
    margin: 50px 20px 0 0; }
    @media (max-width: 1279px) {
      .modal .modal__text {
        margin: 10px 9px 0 0; } }
    @media (max-width: 767px) {
      .modal .modal__text {
        margin: 10px 9px 0 9px; } }
  .modal h3 {
    color: black;
    margin-top: 0;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .modal h3 {
        font-size: 35px; } }
  .modal .subtitle {
    margin-top: 10px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 40px; }
    @media (max-width: 1279px) {
      .modal .subtitle {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .modal .subtitle {
        text-align: center; } }
  .modal .descr {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 40px; }
    @media (max-width: 1279px) {
      .modal .descr {
        font-size: 13px;
        margin-bottom: 20px; } }
  .modal ul {
    padding-left: 0;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    list-style-type: none; }
    .modal ul li {
      padding-bottom: 11px; }
      @media (max-width: 1279px) {
        .modal ul li {
          padding-bottom: 5px; } }
    .modal ul li::before {
      content: "\2022";
      color: #F1CDB3;
      font-weight: bold;
      display: inline-block;
      width: 1em; }
  .modal .close-modal {
    position: fixed;
    right: -44px;
    top: -54px;
    font-size: 30px;
    letter-spacing: 0.06em;
    font-weight: normal;
    height: 43px;
    padding-top: 5px; }
    .modal .close-modal:hover {
      text-shadow: none;
      animation: closeModal 0.7s ease-in-out; }
@keyframes closeModal {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(180deg); } }
    @media (max-width: 767px) {
      .modal .close-modal {
        right: -30px;
        top: -51px; } }

.shadow:hover ~ div .close-modal {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  animation: closeModal 0.7s ease-in-out; }

.lock_scroll {
  overflow: hidden; }

.hidden {
  display: none; }

/*# sourceMappingURL=style-pets.css.map */
